.a {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 595px;
  min-height: 842px;
  position: relative;
}

.a .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 595px;
  height: 842px;
  background-color: #cbbdbd;
}

.a .text-wrapper {
  position: absolute;
  top: 38px;
  left: 61px;
  width: 247px;
  transform: rotate(-0.35deg);
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #a91c1c;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}
.a .img {
  position: absolute;
  top: 18px;
  left: 191px;
  width: 183px;
  height: 172px;
  object-fit: cover;
}

.a .krzysztof-w-jcik {
  position: absolute;
  top: 14px;
  left: 404px;
  width: 158px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.a .gmail-com {
  position: absolute;
  top: 104px;
  left: 404px;
  width: 206px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.a .div {
  position: absolute;
  top: 220px;
  left: 40px;
  width: 538px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.a .wykszta-cenie-ucz-si {
  position: absolute;
  top: 335px;
  left: 43px;
  width: 538px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.a .span {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
}

.a .text-wrapper-2 {
  font-size: 20px;
}

.a .text-wrapper-3 {
  font-size: 16px;
}

.a .zainteresowania {
  position: absolute;
  top: 484px;
  left: 42px;
  width: 539px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.a .umiej-tno-ci {
  position: absolute;
  top: 619px;
  left: 42px;
  width: 526px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}
body {
  margin: 0px;
  height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}